@model PIM.Models.BaseConhecimento

@{
 ViewData["Title"] = "Detalhes - Base de Conhecimento";
}

<h2>Detalhes</h2>

<div>
 <h4>BaseConhecimento</h4>
 <hr />
 <dl class="row">
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Titulo)</dt>
 <dd class="col-sm-9">@Model.Titulo</dd>
 
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descricao)</dt>
 <dd class="col-sm-9">@Model.Descricao</dd>
 
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Solucao)</dt>
 <dd class="col-sm-9">@Model.Solucao</dd>
 
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CategoriaId)</dt>
 <dd class="col-sm-9">@Model.CategoriaId</dd>
 
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UsuarioCriadorId)</dt>
 <dd class="col-sm-9">@Model.UsuarioCriadorId</dd>
 
 <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DataCriacao)</dt>
 <dd class="col-sm-9">@Model.DataCriacao.ToString("yyyy-MM-dd")</dd>
 </dl>
</div>

<p>
 <a asp-action="Edit" asp-route-id="@Model.BaseId" class="btn btn-warning">Editar</a>
 <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</p>