@model IEnumerable<PIM.Models.BaseConhecimento>

@{
 ViewData["Title"] = "Base de Conhecimento";
}

<h2>Base de Conhecimento</h2>
<p>
 <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>
<table class="table table-striped">
 <thead>
 <tr>
 <th>@Html.DisplayNameFor(model => model.First().Titulo)</th>
 <th>@Html.DisplayNameFor(model => model.First().CategoriaId)</th>
 <th>@Html.DisplayNameFor(model => model.First().UsuarioCriadorId)</th>
 <th>@Html.DisplayNameFor(model => model.First().DataCriacao)</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
@foreach(var item in Model) {
 <tr>
 <td>@item.Titulo</td>
 <td>@item.CategoriaId</td>
 <td>@item.UsuarioCriadorId</td>
 <td>@item.DataCriacao.ToString("yyyy-MM-dd")</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.BaseId">Detalhes</a> |
 <a asp-action="Edit" asp-route-id="@item.BaseId">Editar</a> |
 <a asp-action="Delete" asp-route-id="@item.BaseId">Excluir</a>
 </td>
 </tr>
}
 </tbody>
</table>