@model IEnumerable<PIM_FINAL.Models.Sla>

@{
 ViewData["Title"] = "SLAs";
}

<h1>SLAs</h1>
<p>
 <a asp-action="Create">Novo SLA</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>Nome</th>
 <th>Prioridade</th>
 <th>Primeira Resposta (min)</th>
 <th>Resolução (min)</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
@foreach(var item in Model)
{
 <tr>
 <td>@item.NomeSla</td>
 <td>@item.PrioridadeId</td>
 <td>@item.TempoPrimeiraResposta</td>
 <td>@item.TempoMaximoResolucao</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.SlaId">Details</a> |
 <a asp-action="Edit" asp-route-id="@item.SlaId">Edit</a> |
 <a asp-action="Delete" asp-route-id="@item.SlaId">Delete</a>
 </td>
 </tr>
}
 </tbody>
</table>