@model IEnumerable<PIM.Models.HistoricoChamado>

@{
    ViewData["Title"] = "Histórico de Chamados";
}

<h2>Histórico de Chamados</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo Histórico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().ChamadoId)</th>
            <th>@Html.DisplayNameFor(model => model.First().UsuarioId)</th>
            <th>@Html.DisplayNameFor(model => model.First().Acao)</th>
            <th>@Html.DisplayNameFor(model => model.First().DataAcao)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ChamadoId</td>
            <td>@item.UsuarioId</td>
            <td>@item.Acao</td>
            <td>@item.DataAcao.ToShortDateString()</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.HistoricoId">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.HistoricoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.HistoricoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>