@model IEnumerable<PIM_FINAL.Models.Prioridade>

@{
 ViewData["Title"] = "Prioridades";
}

<h1>Prioridades</h1>
<p>
 <a asp-action="Create">Nova Prioridade</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>Nome</th>
 <th>Descrição</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
@foreach(var item in Model)
{
 <tr>
 <td>@item.NomePrioridade</td>
 <td>@item.Descricao</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.PrioridadeId">Details</a> |
 <a asp-action="Edit" asp-route-id="@item.PrioridadeId">Edit</a> |
 <a asp-action="Delete" asp-route-id="@item.PrioridadeId">Delete</a>
 </td>
 </tr>
}
 </tbody>
</table>