@model IEnumerable<PIM.Models.Prioridade>

@{
    ViewData["Title"] = "Prioridades";
}

<h2>Prioridades</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Nova Prioridade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().PrioridadeId)</th>
            <th>@Html.DisplayNameFor(model => model.First().NomePrioridade)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.PrioridadeId</td>
            <td>@item.NomePrioridade</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PrioridadeId">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.PrioridadeId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.PrioridadeId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>