@model IEnumerable<PIM.Models.LogAcesso>

@{
    ViewData["Title"] = "Logs de Acesso";
}

<h2>Logs de Acesso</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Log</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().LogId)</th>
            <th>@Html.DisplayNameFor(model => model.First().UsuarioId)</th>
            <th>@Html.DisplayNameFor(model => model.First().DataHora)</th>
            <th>@Html.DisplayNameFor(model => model.First().IPAddress)</th>
            <th>@Html.DisplayNameFor(model => model.First().Descricao)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.LogId</td>
            <td>@item.UsuarioId</td>
                <td>@item.DataHora</td>
                <td>@item.IPAddress</td>
            <td>@item.Descricao</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.LogId">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.LogId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.LogId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>