@model PIM.Models.Funcionario

@{
    ViewData["Title"] = "Detalhes do Funcionário";
}

<h2>Detalhes do Funcionário</h2>
<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.FuncionarioId</dd>
    <dt class="col-sm-2">Usuário</dt>
    <dd class="col-sm-10">@Model.UsuarioId</dd>
    <dt class="col-sm-2">Matrícula</dt>
    <dd class="col-sm-10">@Model.Matricula</dd>
    <dt class="col-sm-2">Admissão</dt>
    <dd class="col-sm-10">@Model.DataAdmissao.ToShortDateString()</dd>
    <dt class="col-sm-2">Demissão</dt>
    <dd class="col-sm-10">@Model.DataDemissao?.ToShortDateString()</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.FuncionarioId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>