@model IEnumerable<PIM.Models.StatusChamado>

@{
    ViewData["Title"] = "Status dos Chamados";
}

<h2>Status dos Chamados</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo Status</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().StatusId)</th>
            <th>@Html.DisplayNameFor(model => model.First().NomeStatus)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.StatusId</td>
            <td>@item.NomeStatus</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.StatusId">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.StatusId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.StatusId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>