@model IEnumerable<PIM.Models.PerfilUsuario>

@{
 ViewData["Title"] = "Perfis de Usuário";
}

<h2>Perfis</h2>
<p>
 <a asp-action="Create" class="btn btn-primary">Novo Perfil</a>
</p>
<table class="table table-striped">
 <thead>
 <tr>
 <th>@Html.DisplayNameFor(model => model.First().NomePerfil)</th>
 <th>@Html.DisplayNameFor(model => model.First().Descricao)</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 @foreach(var item in Model) {
 <tr>
 <td>@item.NomePerfil</td>
 <td>@item.Descricao</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.PerfilId">Detalhes</a> |
 <a asp-action="Edit" asp-route-id="@item.PerfilId">Editar</a> |
 <a asp-action="Delete" asp-route-id="@item.PerfilId">Excluir</a>
 </td>
 </tr>
 }
 </tbody>
</table>