@model PIM_FINAL.Models.HistoricoChamado

@{
    ViewData["Title"] = "Detalhes do Histórico";
}

<h1>Detalhes</h1>
<dl class="row">
<dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.HistoricoId</dd>
    <dt class="col-sm-2">Chamado</dt>
    <dd class="col-sm-10">@Model.ChamadoId</dd>
    <dt class="col-sm-2">Usuário</dt>
    <dd class="col-sm-10">@Model.UsuarioId</dd>
    <dt class="col-sm-2">Ação</dt>
    <dd class="col-sm-10">@Model.Acao</dd>
    <dt class="col-sm-2">Descrição</dt>
    <dd class="col-sm-10">@Model.Descricao</dd>
    <dt class="col-sm-2">Data</dt>
    <dd class="col-sm-10">@Model.DataAcao</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.HistoricoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>