@model IEnumerable<PIM_FINAL.Models.HistoricoChamado>

@{
    ViewData["Title"] = "Históricos de Chamado";
}

<h1>Históricos</h1>
<table class="table">
    <thead>
   <tr>
   <th>Id</th>
        <th>ChamadoId</th>
   <th>Usuário</th>
   <th>Ação</th>
  <th>Data</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
{
  <tr>
      <td>@item.HistoricoId</td>
       <td>@item.ChamadoId</td>
  <td>@item.UsuarioId</td>
       <td>@item.Acao</td>
      <td>@item.DataAcao</td>
   <td>
 <a asp-action="Details" asp-route-id="@item.HistoricoId">Detalhes</a> |
 <a asp-action="Edit" asp-route-id="@item.HistoricoId">Editar</a> |
     <a asp-action="Delete" asp-route-id="@item.HistoricoId">Excluir</a>
   </td>
   </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Novo Histórico</a>