@model IEnumerable<PIM.Models.SLA>

@{
    ViewData["Title"] = "SLAs";
}

<h2>SLAs</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo SLA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().SLAId)</th>
            <th>@Html.DisplayNameFor(model => model.First().NomeSLA)</th>
            <th>@Html.DisplayNameFor(model => model.First().PrioridadeId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.SLAId</td>
            <td>@item.NomeSLA</td>
            <td>@item.PrioridadeId</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SLAId">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.SLAId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.SLAId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>