@model PIM_FINAL.Models.Comunicacao

@{
    ViewData["Title"] = "Detalhes da Comunicação";
}

<h1>Detalhes</h1>
<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.ComunicacaoId</dd>
    <dt class="col-sm-2">Chamado</dt>
    <dd class="col-sm-10">@Model.ChamadoId</dd>
    <dt class="col-sm-2">Usuário</dt>
    <dd class="col-sm-10">@Model.UsuarioId</dd>
    <dt class="col-sm-2">Mensagem</dt>
    <dd class="col-sm-10">@Model.Mensagem</dd>
    <dt class="col-sm-2">Data</dt>
    <dd class="col-sm-10">@Model.DataEnvio</dd>
</dl>
<p>
    <a asp-action="Index">Back to List</a>
</p>