@model IEnumerable<PIM_FINAL.Models.Comunicacao>

@{
    ViewData["Title"] = "Comunicações";
}

<h1>Comunicações</h1>
<table class="table">
    <thead>
    <tr>
   <th>Id</th>
  <th>Chamado</th>
  <th>Usuário</th>
  <th>Mensagem</th>
  <th>Data</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
{
  <tr>
      <td>@item.ComunicacaoId</td>
 <td>@item.ChamadoId</td>
        <td>@item.UsuarioId</td>
 <td>@item.Mensagem</td>
        <td>@item.DataEnvio</td>
 <td>
      <a asp-action="Details" asp-route-id="@item.ComunicacaoId">Detalhes</a> |
       <a asp-action="Edit" asp-route-id="@item.ComunicacaoId">Editar</a> |
       <a asp-action="Delete" asp-route-id="@item.ComunicacaoId">Excluir</a>
   </td>
   </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Nova Comunicação</a>