@model PIM.Models.Anexo

@{
    ViewData["Title"] = "Detalhes do Anexo";
}

<h2>Detalhes do Anexo</h2>
<dl class="row">
    <dt class="col-sm-2">Nome do Arquivo</dt>
    <dd class="col-sm-10">@Model.NomeArquivo</dd>
    <dt class="col-sm-2">Tipo</dt>
    <dd class="col-sm-10">@Model.TipoArquivo</dd>
    <dt class="col-sm-2">Caminho</dt>
    <dd class="col-sm-10">@Model.CaminhoArquivo</dd>
    <dt class="col-sm-2">Data Upload</dt>
    <dd class="col-sm-10">@Model.DataUpload.ToShortDateString()</dd>
    <dt class="col-sm-2">Chamado</dt>
    <dd class="col-sm-10">@Model.ChamadoId</dd>
    <dt class="col-sm-2">Usuário</dt>
    <dd class="col-sm-10">@Model.UsuarioId</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.AnexoId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>