@model IEnumerable<PIM_FINAL.Models.Funcionario>

@{
 ViewData["Title"] = "Funcionários";
}

<h1>Funcionários</h1>
<p>
 <a asp-action="Create">Novo Funcionário</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>Nome</th>
 <th>Email</th>
 <th>Matricula</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
@foreach(var item in Model)
{
 <tr>
 <td>@item.Nome</td>
 <td>@item.Email</td>
 <td>@item.Matricula</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.FuncionarioId">Details</a> |
 <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Edit</a> |
 <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Delete</a>
 </td>
 </tr>
}
 </tbody>
</table>