@model IEnumerable<PIM_FINAL.Models.LogAcesso>

@{
    ViewData["Title"] = "Logs de Acesso";
}

<h1>Logs de Acesso</h1>
<table class="table">
    <thead>
    <tr>
   <th>Id</th>
  <th>Usuário</th>
  <th>Ação</th>
      <th>Data</th>
       <th>IP</th>
   <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
   <td>@item.LogId</td>
       <td>@item.UsuarioId</td>
  <td>@item.Acao</td>
   <td>@item.DataHora</td>
 <td>@item.IpAddress</td>
   <td>
 <a asp-action="Details" asp-route-id="@item.LogId">Detalhes</a> |
       <a asp-action="Delete" asp-route-id="@item.LogId">Excluir</a>
      </td>
  </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Novo Log</a>