@model IEnumerable<PIM_FINAL.Models.Avaliacao>

@{
 ViewData["Title"] = "Avaliações";
}

<h1>Avaliações</h1>
<p>
 <a asp-action="Create">Nova Avaliação</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>Chamado</th>
 <th>Nota</th>
 <th>Comentário</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
@foreach(var item in Model)
{
 <tr>
 <td>@item.ChamadoId</td>
 <td>@item.Nota</td>
 <td>@item.Comentario</td>
 <td>
 <a asp-action="Details" asp-route-id="@item.AvaliacaoId">Details</a> |
 <a asp-action="Edit" asp-route-id="@item.AvaliacaoId">Edit</a> |
 <a asp-action="Delete" asp-route-id="@item.AvaliacaoId">Delete</a>
 </td>
 </tr>
}
 </tbody>
</table>